@media screen and (max-width: 800px) {
  .logo {
    width: 10px;
  }

  nav {
    height: 70px;
  }

  nav .navbar-center {
    position: fixed !important;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column !important;
    background-color: rgb(253, 188, 67);
    width: 100% !important;
    text-align: center;
    transition: 0.3s;
  }

  nav .navbar-center.active {
    left: 0;
  }

  nav .navbar-center li a {
    margin: 16px 0 !important;
  }

  nav .icons-left {
    width: 100px !important;
  }

  /*Register css*/
  .container {
    width: 90% !important;
  }

  .footer-logo img {
    width: 80px !important;
  }

  .footer-list-up a,
  .footer-list-nav a {
    font-size: 7px !important;
  }

  .hamburger {
    display: block !important;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .fambtn{
    width: 30% !important;
  }

  .family-cards{
    min-height: 400vh !important;
  }
}

@media screen and (max-width: 2000px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "HebrewHebboBold";
    box-sizing: border-box;
    direction: rtl;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

  .hero {
    width: 100%;
    min-height: 200vh;
    /* background-image: url(./backgroungKwL.png); */
    background-color: rgb(240, 239, 239);
    background-size: 100%;
  }

  nav {
    background: rgb(253, 188, 67);
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    width: 120px;
    cursor: pointer;
  }

  nav .navbar-center {
    width: 70%;
    text-align: center;
  }

  nav .icons-left {
    width: 10%;
    text-align: center;
    text-decoration: none;
  }

  nav .navbar-center li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
  }

  nav .icons-left li {
    display: inline-block;
    list-style: none;
    margin: 0 3px;
  }

  nav ul li a,
  .bi-person-fill {
    color: black;
    text-decoration: none;
    font-size: 17px;
  }

  nav ul li a::after,
  .bi-person-fill::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: white;
    bottom: -4px;
    transition: all ease-in-out 250ms;
  }

  nav ul li a:not(.dropdown-a):hover,
  .bi-person-fill:hover {
    color: white;
  }

  nav ul li a:not(.dropdown-a):hover::after,
  .bi-person-fill:hover::after {
    width: 100%;
  }

  .sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: auto;
    transition: max-height 0.5s;
  }

  .sub-menu-wrap.open-menu {
    max-height: 400px;
  }

  .sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  }

  .user-info {
    text-align: center;
  }

  .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 10px;
  }

  .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
  }

  .sub-menu-link p {
    width: 100%;
  }

  .sub-menu-link i {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-left: 15px;
  }

  .sub-menu-link span {
    font-size: 22px;
    transition: transfom 0.5s;
  }

  .sub-menu-link:hover span {
    transform: translateX(5px);
  }

  .sub-menu-link p {
    text-align: right;
    font-family: "HebrewHebboMedium";
  }

  .sub-menu-link:hover p {
    font-family: "HebrewHebboBold";
  }
  @font-face {
    font-family: "HebrewHebboMedium";
    src: url("./Fonts/Heebo-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "HebrewHebboBold";
    src: url("./Fonts/Heebo-Bold.ttf") format("truetype");
  }

  /*Dropdown css*/
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
  }

  .dropdown-toggle:hover .arrow {
    border-color: white;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* check if i have that */
  .dropdown:hover .dropbtn { 
    background-color: #3e8e41;
  }

  /** Register css */
  .container {
    padding: 16px;
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 5px;
  }
  input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }

  form hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .formbtn{
    background-color: #fd904d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  #uploadHtmlbtn{
    background-color: #fd904d;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 0px;
    width: 10%;
    opacity: 0.8;
    display: none;
  }

  #uploadHtmlbtn:hover{
    opacity: 1;
  }

  .registerbtn:hover {
    opacity: 1;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .footer-wrap {
    text-align: center;
    background-color: rgb(253, 188, 67);
  }

  .footer-list-up,
  .footer-list-nav {
    margin: 5px;
    justify-content: space-between;
    direction: rtl;
    padding-bottom: 20px;
  }

  .footer-logo img {
    width: 150px;
  }

  .footer-list-up a,
  .footer-list-nav a {
    text-decoration: none;
    color: black;
    border-left: 2px solid black;
    padding: 0.5rem 1rem;
    font-size: 16px;
  }

  .footer-list-nav a:hover,
  .footer-list-up a:hover {
    color: white;
  }

  .bottom {
    background-color: rgb(240, 239, 239);
  }
}

.family-container{
    text-align: center;
    background-color: #fd904d; 
    /* TODO - background from daniel  */
}

.family-upper{
    min-height: 35vh;
    justify-content: space-between;
}

.family-cards{
    min-height: 200vh;
    background-color: rgb(240, 239, 239);
}

.family-upper h1{
    padding-top: 50px;
}

.family-upper p{
    padding: 15px;
}

.fambtn{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.8;
}

.fambtn:hover{
    opacity: 1;
}

.flip-card {
    display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding-top: 30px;
    margin-left: 20px;
    margin-top: 60px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #fd904d;;
    color: white;
    transform: rotateY(180deg);
  }