.nav-item{
    margin-right: 70px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgb(253, 188, 67) !important;
}

.nav-icon{
    margin-right: 0px;
    margin: 0;
}

.nav-link .bi{
    margin: 0 !important;
}

.navbar-nav .nav-item .nav-link {
    white-space: nowrap; /* Prevent line breaks within links */
    margin-bottom: 4px;
    color: black;
    font-family: 'HebrewHebboBold';
    font-size: 18px;
    position: relative;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white; 
}

nav a{
    position: relative;
    padding-bottom: 5px;
}

nav a:not(.dropdown-toggle, .navbar-brand)::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: white;
    bottom: -2px;;
    transition: all ease-in-out 250ms;
}

nav li.dropdown:hover > a::after {
    width: 0; 
}

nav a:hover::after{
    width: 100%;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the navbar links horizontally */
    align-items: center;
}

.navbar {
    background-color: transparent; /* Set the desired background color for the navbar */
}



@font-face {
    font-family: 'HebrewVarela'; /* Choose a suitable name for the font family */
    src: url('fonts/VarelaRound-Regular.ttf') format('truetype');
    font-family: 'HebrewSecular';
    src: url(./SecularOne-Regular.ttf) format('truetype');
    font-family: 'HebrewGanclm';
    src: url('fonts/ganclm_bold-webfont.ttf') format('truetype'),
         url('fonts/ganclm_bold-webfont.woff') format('woff');
    font-family: 'HebrewHebboBold';
    src: url('./fonts/Heebo-Bold.ttf');
}

nav .dropdown-menu a:hover {
  text-decoration: underline; /* Apply underline to the dropdown menu items on hover */
}

nav .dropdown-menu .dropdown-item[href="#"]:hover::before {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: -4px;
  transition: all ease-in-out 250ms;
}

.navbar-toggler-custom {
    max-width: 50px; 
}

.navbar-brand img {
    max-height: 40px; 
    max-width: 100%; 
}
  
@media (max-width: 767.98px) {
    .logo-container {
      width: 100%;
      justify-content: center;
    }
    
    .navbar-collapse.collapsing ~ .logo-container {
      width: auto;
      justify-content: flex-start;
    }

    .navbar .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%; 
        bottom: 0;
        width: 50%; 
        max-width: 300px; 
        transition: right 0.3s;
        z-index: 1000;
        background-color: rgb(253, 188, 67);
      }
    
    .navbar .navbar-toggler[aria-expanded="true"] + .navbar-collapse {
        right: 0; /* Show the collapsed navbar when the toggler is active */
    }
}
  
  
