*{
    margin: 0;
    padding: 0;
    font-family: 'HebrewHebboBold';
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    /* background-image: url(./backgroungKwL.png); */
    background-color: rgb(240, 239, 239);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #525252;
}

nav{
    background: rgb(253, 188, 67);
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    width: 120px;
    cursor: pointer;
}

/* .user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
} */

nav ul{
    width: 100%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}

nav ul li a::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: white;
    bottom: -4px;;
    transition: all ease-in-out 250ms;
}

nav ul li a:hover{
    color: white;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li .bi {
    margin: 0 5px !important;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: auto;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    text-align: center;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link i{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-left: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transfom 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link p{
    text-align: right;
    font-family: 'HebrewHebboMedium';
}

.sub-menu-link:hover p{
    font-family: 'HebrewHebboBold';
}
@font-face {
    font-family: 'HebrewHebboMedium';
    src: url('./Fonts/Heebo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HebrewHebboBold';
    src: url('./Fonts/Heebo-Bold.ttf') format('truetype'); 
}

form{
    text-align: right;
}

/** Register css */

/* Add padding to containers */

.container {
    padding: 16px;
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 5px;
}
  
  /* Full-width input fields */
  input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  form hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #fd904d;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
